<!-- 
    Template from W3 Schools 
    https://www.w3schools.com/howto/howto_css_flip_card.asp
-->
<div id="mainCard">
<div class="flip-card" title="Flip Card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1 style="cursor: pointer" id="main-card-term"> Term </h1>
      </div>
      <div class="flip-card-back">
        <h2 id="main-card-definition">This is the definition for the card</h2>
      </div>
    </div>
</div>
</div>

<style>

.floatingDiv {
  width: 60px;
  height: 100px;
  background-color: #f1f1f1;
  position: absolute;
  z-index: 0;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.floatingDiv:hover {
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 500px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  cursor: pointer;
  z-index: 1;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  box-shadow: 0 70px 100px 0 rgba(0,0,0,0.5);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* Will be done in javascript instead */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #f1f1f1;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #f1f1f1;
  color: black;
  transform: rotateY(180deg);
}

</style>

<script>

// flip card on card click
const flipCard = document.querySelector('.flip-card');
var isFlipped = false;
flipCard.addEventListener('click', function() {
    // transform flipcardinner 180 degrees on click
    if (isFlipped) {
        // flip it back if flipped
        isFlipped = false;
        flipCard.querySelector('.flip-card-inner').style.transform = 'rotateY(0deg)';
        return;
    }
    else {
        // flip card if not already flipped
        isFlipped = true;
        flipCard.querySelector('.flip-card-inner').style.transform = 'rotateY(180deg)';
        return;
    }

});

</script>

