<meta charset="UTF-8">
<title>EJS Testing</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/b33dd8950a.js" crossorigin="anonymous"></script>

<!-- set website logo -->
<link rel="icon" href="images/logo1.png">
<style>
  body {
    background-image: linear-gradient(to bottom, #180F26, #412042, #472C63);
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    min-height: 100vh;
  }
</style>