<!DOCTYPE html>
<html lang="en">
<style>
    body { 
        padding-top:50px; 
        padding: 0px;
    }

</style>
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron" style="background-color: navy">
    <h1>This is great</h1>
    <%- include ('../partials/card'); %>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>